</html>
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CarWash</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f0ddb1ea52.js" crossorigin="anonymous"></script>
    <script src="../components/comprarServicio/comprarServicio.js" type="module" defer></script>
    <link rel="stylesheet" href="../assets/style/index.css">
    
</head>
<body>
    <div class="container-fluid bg-light ">
        <div class="d-flex justify-content-between">
         <nav class="navbar navbar-expand-lg bg-body-tertiary col-12">
             <div class="container-fluid">
                 <div class="col-4 d-flex justify-content-evenly">
                     <img src="../assets/img/logo.png" class="img-fluid rounded" style="width: 110px; height: 100px;">
                 </div>
                 <div class="col-4 d-flex justify-content-center">
                     <h1 class="text-primary fw-bold">Campus Car Washing Center</h1>
                 </div>
               <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse col-4 justify-content-around align-items-center" id="navbarNav">
                 <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link active text-light bg-primary fw-bold rounded mx-2" aria-current="page" href="../index.html">Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active text-light bg-primary fw-bold rounded mx-2" aria-current="page" href="./portalCLientes.html">Portal Clientes</a>
                      </li>
    
                      <li class="nav-item">
                        <a class="nav-link active text-light bg-primary fw-bold  rounded mx-2" aria-current="page" href="./gestionServicios.html">Gestion de Servicios</a>
                      </li>
    
                      <li class="nav-item">
                        <a class="nav-link active text-light bg-primary fw-bold  rounded mx-2" aria-current="page" href="#">Compra de Servicio</a>
                      </li>
                 </ul>
               </div>
             </div>
           </nav>
        </div>
     </div>
    <div class="container-fluid">
        <div class="d-flex justify-content-center mt-5">
            <div class="bg-light  p-4 rounded  d-flex justify-content-center align-items-center">
                <h1 class="fw-bold text-info">Comprar Servicio  </h1>
                <i class="fa-regular fa-credit-card fa-2xl fs-1 px-3" style="color: #00c8fa;"></i>
            </div>
        </div>
    </div>
    <div class="container container-fluid d-flex justify-content-center align-items-center mt-5 col-12 col-sm-12">
        <div class="d-flex justify-content-center align-items-center col-12 col-sm-12 col-md-8 col-lg-6">
            <div class=" col-12 bg-white p-4 rounded">
                <form class="col-12" id="form">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Clientes</label>
                        <select class="form-select" aria-label="Default select example" name="selectCliente" id="selectCliente">
                            
                        </select>
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Servicios</label>
                      <select class="form-select" aria-label="Default select example" name="selectServicios" id="selectServicios">
                        
                      </select>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label fw-bold">Puntos</label>
                        <select id="selectPuntos" name="puntos" for="exampleInputPassword1" class="form-select"></select>
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label fw-bold">Precio</label>
                      <select id="labelValor" name="valor" for="exampleInputPassword1" class="form-select"></select>
                    </div>
                    <input type="submit" class="btn btn-success" data-accion="Comprar" value="Comprar">
                </form>
            </div>
        </div>
    </div>
    <div class="container container-fluid d-flex justify-content-center align-items-center mt-5">
        <div class="d-flex justify-content-center align-items-center col-12 col-sm-12 col-md-11 col-lg-11">
            <div  id="divFactura" class="  col-10 bg-white p-4 rounded">
                <input  id="btnListar" type="submit" class="btn btn-danger" data-accion="Ver" value="Ver Factura">
            </div>
        </div>
    </div>

</body>

</html>